

body, html{
   width:100%;
   min-height: 100vh;
   position:absolute;
}

body{ font-family:'Lato', sans-serif;
  margin:0;
color:#4A4A4A;}

.section1 {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   background-image: url(background2.jpg);
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family:'Lato', sans-serif;
  margin:0;
  background-attachment: fixed;
  color:#4A4A4A;
}



        .logo{ 
          height:60px;
          width:60px;
          background-size: contain;
           background-repeat: no-repeat;
           background-position: center;
           display: flex;
          background-image: url(logo.png);
          justify-content: center;
          align-content: center;
          align-items: center;

        }


        #box{
           width: 500px;
           background-color:#53B3B3;
           opacity: .9;
           filter: alpha(opacity=40);
           display: auto;
           z-index: 1;
           margin: auto;
           display: flex;
          justify-content: space-around;
          align-content: center;
          align-items: center;
          flex-direction:column ;
          padding: 20px;
          border-radius: 5px;
          color:#4A4A4A;
         

        }

        

        .what {text-align: center;
        font-weight: 400;
        font-size: 1.4em;
        color:#4A4A4A;

        }

        .lemonis {text-align: center;
        font-weight:300;
        font-size: 1.2em;
        color:#4A4A4A;

        margin:0;
        padding-bottom: 20px;}

        .button1 {width: 300px;
          height: 87px;
          background-color:#FCF35C ;
          border:none;
            border-radius: 5px;
            font-weight:300;
            font-size: 1.5em;
            color:#4A4A4A;
            text-align: center;
            margin: 5px ;
            display: auto 0;
            outline:none;
            text-decoration: none;
            display:flex;
            flex-direction:column;
            justify-content:center;
           }
        .button1:hover {background-color:#AEFFE1;
         }


#section2 {
  
  width:100%;
  max-height:380px;
  text-align: center;
  line-height: 30px;
  background-color: #FFF786;
  opacity: .8;
           filter: alpha(opacity=20);
  vertical-align: center;

  }

          #lemon2 {text-align: center;
          line-height: 30px;
        font-size: 1.5em;
        padding-top: 25px;
    }

          .photo3{content:url('logo2.png');
      max-height:50px;
      max-width: 50px;
      margin:auto;
      padding-top: 25px;

    }

        #lemon3{text-align: center;
          line-height: 30px;
        font-size: 1.1em;
        padding-top:0px;}

         #lemon4{text-align: center;
          line-height: 30px;
        font-size: 1.5em;
        padding-top: 20px;}

           #lemon5{text-align: center;
          line-height: 30px;
        font-size: 1.1em;
        padding-bottom:40px;}

      

.section3 {
  width:100%;
  max-height:380px;
  text-align: center;
  line-height: 30px;
  font-size:1.5em;
  padding-top: 30px;
  background-color: #5CACA7;
  padding-bottom:30px;
  }

      .picture1{content:url('howworks.png');
      max-height:65%;
      max-width:60%;
      margin:auto;
      padding-top:50px;
      }

.section4 {
  width:100%;
  max-height:800px;
  text-align: center;
  line-height: 50px;
  font-size:1.5em;
  padding-top: 30px;

 background-image: url(run.png);


   background-size: cover;
   background-repeat: no-repeat;
  background-attachment: fixed;
  }

  #text{color:#4A4A4A;}
    .picture2{content:url('slack.png');
      max-height:75%;
      max-width:75%;
      margin:auto;
      padding-top: 20px;
      padding-bottom: 30px;
      }

.section5 { width:100%;
  max-height:250px;
  text-align: center;
  line-height: 30px;
  font-size:1.5em;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #FFF786;
}

  .button2{
         width: 300px;
          height: 87px;
          background-color:#6DCECD ;
          border:none;
            border-radius: 5px;
            font-weight:300;
            font-size: 1em;
            color:#4A4A4A;
            text-align: center;
            margin: auto;
           margin-top:30px;
            outline:none;
            text-decoration: none;
            display:flex;
            flex-direction:column;
            justify-content:center;

           }
        .button2:hover {background-color:#5CACA7}
        
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}