



body, html{
   width:100%;
   min-height: 100vh;
   position:absolute;
}

body{ 
  font-family:'Lato', sans-serif;
  margin:0;
  color:#4A4A4A;}

.section1 {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-image: url(background2.jpg);
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family:'Lato', sans-serif;
    margin:0;
    background-attachment: fixed;
    color:#4A4A4A;
    padding-top: 2rem;
}



        .logo{ 
            height:60px;
            width:60px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            background-image: url(logo.png);
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-left:auto;
            margin-right:auto;
        }


        #box{
           max-width: 500px;
           width: 50%;
           max-height:340px;
           height:70%;
           margin-left:auto;
           margin-right:auto;
           background-color:#53B3B3;
           opacity: .9;
           filter: alpha(opacity=40);
           display: auto;
           z-index: 1;
          /* margin: auto;*/
          padding: 40px;
          border-radius: 5px;
          color:#4A4A4A;
        }

        

        .what {
          text-align: center;
          font-weight: 400;
          font-size: 1.4em;
          color:#4A4A4A;
        }

        .lemonis {
          text-align: center;
          font-weight:300;
          font-size: 1.2em;
          color:#4A4A4A;
          margin:0;
          padding-bottom: 20px;}

        .button1 {
          width: 62%;
          height: 70%;
          padding:6%;
          background-color:#FCF35C ;
          border:none;
          border-radius: 5px;
          font-weight:300;
          font-size: 1.5em;
          color:#4A4A4A;
          text-align: center;
          margin-left:auto;
          margin-right:auto;
          display: block;
          outline:none;
          text-decoration: none;
            
           }

          
        .button1:hover {
          background-color:#AEFFE1;
         }


#section2 {
  width:100%;
  min-height:50vh;
  text-align: center;
  line-height: 30px;
  background-color: #FFF786;
  opacity: .8;
  filter: alpha(opacity=20);
  vertical-align: center;

  }


          #lemon2 {
            text-align: center;
            line-height: 30px;
            font-size: 1.5em;
            padding-top: 28px;
            margin-left: 20%;
            margin-right: 20%
        }

          .photo3{
            content:url('logo2.png');
            max-height:50px;
            max-width: 50px;
            margin:auto;
            padding-top: 25px; }

          #lemon3{
            text-align: center;
            line-height: 30px;
            font-size: 1.1em;
            padding-top:0px;
            margin-left: 20%;
            margin-right: 20%}

          #lemon4{
              text-align: center;
              line-height: 30px;
              font-size: 1.5em;
              padding-top: 20px;
              margin-left: 20%;
              margin-right: 20%}

          #lemon5{
                text-align: center;
                line-height: 30px;
                font-size: 1.1em;
                padding-bottom:40px;
                margin-left: 20%;
                margin-right: 20%}


      .mission {
        font-size: 1.7em;
        padding-top: 3rem;
        margin-left: 15%;
        margin-right: 15%;
        line-height: 3rem;}
            

.section3 {
  width:100%;
  min-height:40vh;
  max-height:140vh;
  text-align: center;
  line-height: 2rem;
  font-size:1.5em;
  padding-top: 5%;
  background-color: #5CACA7;
  padding-bottom:2%;
  }

      /*.picture1{content:url('works.png');
      max-height:65%;
      max-width:60%;
      min-height:20%;
      min-width: 25%;
      margin-left:auto;
      margin-right:auto;
      padding-top:5%;
      }*/

              li{display:inline-block;
                text-align: center;

        }

        ul {padding:0px;}

              #slack {
                content:url('slack1.png');
                height:55%;
                max-width:291px;
                width:50%;
                max-width: 251px;
                margin-left:auto;
                margin-right:auto;
                padding-top:2%;}
               

               #message {
                content:url('message2.png');
                height:55%;
                max-width:291px;
                width:50%;
                max-width: 251px;
                margin-left:auto;
                margin-right:auto;
                padding-top:2%;}
                

                #globe {
                  content:url('globe3.png');
                  height:55%;
                  max-width:291px;
                  width:50%;
                  max-width: 251px;
                  margin-left:auto;
                  margin-right:auto;
                  padding-top:2%;}

.section4 {
  width:100%;
  max-height:100vh;
  text-align: center;
  line-height: 50px;
  font-size:1.5em;
  padding-top: 30px;
 background-image: url(run.png);
   background-size: cover;
   background-repeat: no-repeat;
  background-attachment: fixed;
  }

        #text{
          color:#4A4A4A;
          margin-left: 5%;
          margin-right: 5%}
         

        .picture2{
            content:url('macslack.png');
            max-height:70%;
            max-width:70%;
            margin:auto;
            padding-top: 20px;
            padding-bottom: 30px;
            }

.testimonials 
{width:100%;
  min-height: 30vh;
 /* max-height:30vh;*/
  text-align: center;
  line-height: 30px;
  font-size:1.5em;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #53B3B3;
}

@media (min-width: 400px) 
{min-height:100vh;
background-color:pink;}

    #queen {
            margin-left: 20%;
            margin-right: 20%;
            line-height: 3rem;}
/*
      #icon {
            content:url('queen.png');
            max-height:75%;
            max-width:75%;
            margin:auto;
            padding-top: 20px;
            padding-bottom: 30px;}*/

.section5 { width:100%;
  max-height:100px;
  text-align: center;
  line-height: 30px;
  font-size:1.5em;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #FFF786;
}

/*#users{content:url('/users.png');
max-height:200px;
      max-width:400px;
      margin:auto;}*/

    /*.button2{
        width: 300px;
        background-color:#6DCECD ;
        border:none;
        border-radius: 5px;
        font-weight:300;
        font-size: 1.2em;
        color:#4A4A4A;
        text-align: center;
        margin: auto;
        margin-top:2rem;
        outline:none;
        text-decoration: none;
        padding:1.5rem;
        display:block;
      }
        
      .button2:hover {
        background-color:#5CACA7}
        
      #join {
        margin-left: 5%;
        margin-right: 5%}*/


@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}