



body, html{
   width:100%;
   min-height: 100vh;
   position:absolute;
}

body{ 
  font-family:'Lato', sans-serif;
  margin:0;
  color:#4A4A4A;
}

p {font-size: 2em;
  padding:10px;
}

.section1 > ul {display: block;
list-style-type: none;}

img {padding:20px;}

#nav {
/*  margin:-13rem;*/
/*  width: 100%;*/
/*  height:13vh;*/
/*  margin-bottom: 20rem;*/
  
/*  background-color: #6DCECD;*/}

    .text{
      text-align: center;
      color:#FFFFFF;
/*      margin-top: -.5rem;*/
     /* margin-bottom: 2rem;*/
      }

  #top{padding:0px;}

.section1 {
    display: flex;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 /*   display: flex;*/
    background-image: url(background3.png);
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family:'Lato', sans-serif;
    margin:0;
    background-attachment: fixed;
    color:#4A4A4A;
    /*padding-top: 2rem;*//*-webkit-animation:*//* ;*/
/*    -o-animation: ;*/
  /*  animation: ;*/
    text-align: center;
}



        .logo{ 
            height:75px;
            width:75px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            background-image: url(logo4.png);
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-left:auto;
            margin-right:auto;
            padding-top:1rem;
          /*  margin-bottom: 2rem;*/
        }

 .logoblog{ 
            height:75px;
            width:75px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            background-image: url(logo4.png);
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-left:auto;
            margin-right:auto;
            padding-top:1rem;
          /*  margin-bottom: 2rem;*/
        }

    

        .what {
          text-align: center;
          font-weight: 400;
          /*font-size: 2.5em;*/
          font-size: 210%;
          color:white;
          padding-top: 4rem;
        }

        .lemonis {
          text-align: center;
          font-weight:300;
      /*    font-size: 2.2em;*/
          font-size: 150%;
          color:white;
          margin:0;
          padding-bottom: 20px;}

        .button1 {
      
          width: 200px;
        background-color:#FFF786 ;
        border:none;
        border-radius: 5px;
        font-weight:300;
      /*  font-size: 1.5em;*/
      font-size: 150%;
        color:#4A4A4A;
        text-align: center;
        margin: auto;
        margin-top:1rem;
        outline:none;
        text-decoration: none;
        padding:1.5rem;
        display:block;
        margin-bottom: 1rem;
            
           }

          
        .button1:hover {
          background-color:#FFFCC8;
          text-decoration: none;
          color:#53B3B3;
         }


#section2 {
  width:100%;
  min-height:50vh;
  text-align: center;
  line-height: 30px;
  background-color: #FFF786;
  opacity: .8;
  filter: alpha(opacity=20);
  vertical-align: center;

  }


          #lemon2 {
            text-align: center;
            line-height: 30px;
            font-size: 1.5em;
            padding-top: 28px;
            margin-left: 20%;
            margin-right: 20%
        }

          .photo3{
            content:url('logo4.png');
            max-height:50px;
            max-width: 50px;
            margin:auto;
            padding-top: 25px; }

          #lemon3{
            text-align: center;
            line-height: 30px;
            font-size: 1.1em;
            padding-top:0px;
            margin-left: 20%;
            margin-right: 20%}

          #lemon4{
              text-align: center;
              line-height: 30px;
              font-size: 1.5em;
              padding-top: 20px;
              margin-left: 20%;
              margin-right: 20%}

          #lemon5{
                text-align: center;
                line-height: 30px;
                font-size: 1.1em;
                padding-bottom:40px;
                margin-left: 20%;
                margin-right: 20%}


     #light{  
        width:100%;
        min-height:70vh;
        background-color: #FFFCC8;}

      .mission {
        font-size: 2.7em;
        /*padding-top: 4.5rem;*/
/*        padding-top: 5%;*/
padding-top: 3%;
padding-bottom: 3%;
        margin-left: 15%;
        margin-right: 15%;
        line-height: 3rem;
      }

            
#title {padding-bottom: 2%}
.section3 {
  width:100%;
  min-height:50vh;
  max-height:200vh;
  text-align: center;
  line-height: 2rem;
  padding-top: 5%;
  background-color: #FFFCC8; 
  padding-bottom:2%;
  color:#4A4A4A !important;
  }


.testimonials3 
{width:100%;
  min-height: 30vh;
color:white !important;
  text-align: center;
  
  color:#4A4A4A;
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #5CACA7;

}

#testimonials3{margin-bottom:30px;
margin-left:3rem;
margin-right:3rem;
  font-size:40px;
}

    
 


        #text{
          
          margin-left: 5%;
          margin-right: 5%}
         

     


  



button {
  background-color: #5CACA7;
   border-radius: 5px;
   border:none;
   width:200px;
   height:70px;
   color:white !important;
   font-size:1.4em !important;
}
   

